.logo{
  display: inline-block;
  margin-right: 58px;
}
.logo:hover{
  opacity: 0.8;
}
.logo:active{
  opacity: 0.6;
}

.logo__img{
  display: block;
  width: 116px;
  height: 25px;
}


@media only screen and (max-width: 768px){

  .logo{
    margin-right: 30px;
  }
}

@media only screen and (max-width: 670px){

  .logo{
    margin-right: 13px;
  }
}

@media only screen and (max-width: 470px){

  .logo{
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translate(-50%);
  }
}